*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body{
  margin: 0;

  width: 100%;
  height: 100%;
  box-sizing: border-box;

  /* overflow: hidden; */
}

div {
  display: block;
}

button {
  margin-top: 5px;
  margin-right: 6px;

  width: 60px;
  height: 30px;
}

#root{
  height: 100%;
}

.draggable.dragging {
  opacity: 0.5;
}

.div_Background {
  /* flex: 1; */
  border: 3px;
  border-color: Red;
  background-color: white;
  inset: "0% 0% 0% 0%";
  position: absolute;
  z-index: 0;  
}

.div_Title {
  /* flex: 0.3; */
  height: 40px;
  border: 0;
  text-align: right;
  background-color: cornflowerblue;
}

.div_Body {
  /* flex: 0.7; */
  height: calc(100% - 40px);
  border: 0;
  width: 100%;
  text-align: center;  
  vertical-align: middle;
  background-color: darkseagreen;
}

.div_Col {
  /* flex: 0.7; */
  /* width: 6px;
  height: 100%; */
  /* display: block; */
  margin-left: -3px;
  width: 6px;
  cursor: ew-resize;

  position: absolute;
  z-index: 1;
  /* touch-action: cross-slide-x;   */
  background-color: pink;
}

.div_Row {
  /* flex: 0.7; */
  /* width: 100%;
  height: 6px;
  display: block; */

  margin-top: -3px;
  height: 6px;
  cursor: ns-resize;

  position: absolute;
  z-index: 1;
  /* touch-action: cross-slide-y;   */
  background-color: pink;
}